$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.here-map {
  position: absolute;
  height: 100%;
  width: 100%;
}

.marker-icon {
  height: 64px;
  width: 64px;
  margin-top: -20px;
}

#dash-cam {
  position: absolute;
  top: 5px;
  width: calc(100% - 415px);
  max-width: 600px;
  z-index: 5;
  left: 5px;
}

.logo-marker {

  img {
    display: none;
    transform: translate(-50%, -50%);
    top: calc(50% - 31px);
    left: calc(50% + 31px);
    z-index: 15;
    height: 42px;
    position: absolute;
    width: 42px;
  }
}


#container {

  min-width: 400px;
  height: 300px;

  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.6);
}

#vehicle-speed {
  position: absolute;
  top: 0;
  right: 0;

  width: 400px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.6);
}